<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2><%= @commenter %></h2>
    <h4><%= @comment_content %></h4>
    <p>
      Link: <%= @url %>.
    </p>
    <p>Stay hungry. Stay foolish.</p>
    <p>Have a good day man!</p>
  </body>
</html>
