<div id = 'admin-sidebar'>
  <!-- Sidebar-list -->
  <ul class="sidebar-nav">
    <li class = 'nav-item'><%= link_to 'Admin Home', admin_posts_path %></li>
    <li><%= link_to 'Blog Home', 'https://k-sato1995.github.io/MyBlogFront/' %></li>
    <li><%= link_to 'Category List', admin_categories_path %></li>
    <li><%= link_to 'Tag List', admin_tags_path %></li>
  </ul>
</div>
