<div class="card my-4">
  <!-- <div class = 'user-top' style="background-image: url(https://images.pexels.com/photos/991422/pexels-photo-991422.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260;"></div> -->
  <div class="bio text-center">
    <%= image_tag("https://pbs.twimg.com/media/DeMEs8WU8AAuGXA.jpg",class:"user-img") %>
      <div class="bio-body">
        <h3>K-Sato</h3>
        <p class = 'user-intro'>Computer programmer based in Tokyo</p>
      </div>
  </div>
</div>
