<div class="pre-footer">
  <h4>Do you wanna know more about me?</h4>
  <div class = 'snn-links'>
    <a href = 'https://github.com/K-Sato1995'><%= fa_icon "github",  class: "fa-3x" %></a>
    <a href = 'https://twitter.com/'><%= fa_icon "twitter", class: "fa-3x" %></a>
    <a href = 'https://www.google.com/'><%= fa_icon "google", class: "fa-3x" %></a>
  </div>
</div>
<div class = 'footer-container'>
    <div class = 'row'>
      <div class="col-md-4 blog-description">
        <h5><a href = 'https://github.com/K-Sato1995/MyBlog'>K-Sato's Blog</a></h5>
        <p>This is my personal blog where I write about programming and my life.</p>
        <p class = 'copy-right'>Copyright © 2018</p>
      </div>
      <div class="col-md-4 user-description">
        <h5><a href = 'https://github.com/K-Sato1995'>K-Sato</a></h5>
        <p>A silly boy aspiring to be a competent programmer.</p>
      </div>
    </div>


   <!-- <% if user_signed_in? %>
    <%= link_to 'Admin Home', admin_posts_path, class:"btn btn-outline-info admin-btn" %>
   <% end %> -->
</div>
<footer>
    <p class = 'author-stamp'>Designed and coded by <a href = 'https://github.com/K-Sato1995'>K-Sato</a></p>
</footer>
