<div class = 'mobile-nav'>
  <h4><%= link_to "K-Blog", root_path, class:'mobile-navbrand' %></h4>
  <div id="mobile-menu-icon">
    <div class="menu-icon-bar"></div>
    <div class="menu-icon-bar"></div>
    <div class="menu-icon-bar"></div>
  </div>
</div>
