<nav class="navbar fixed-top">
  <h3><%= link_to 'My Blog', root_path, class:"navbar-brand" %></h3>
    <ul class="link-list">
      <li class = 'nav-item'><%= link_to 'Home', root_path %></li>
      <% if user_signed_in? %>
        <li class = 'nav-item'><%= link_to 'Admin Home', admin_posts_path %></li>
      <% end %>
    </ul>
</nav>
