<div class="side">
  <%= render 'author' %>
  <div class="card my-4" id = "search-box">
    <h5 class="card-header" id = 'search-header'>Search</h5>
    <div class="card-body">
      <%= form_tag(posts_path, method: :get) do %>
        <%= text_field_tag :title, params[:title],class:'form-control', placeholder:'Search' %>
      <% end %>
    </div>
  </div>
  <% @categories.each do |category| %>
   <%= link_to category.name, posts_path(category: category.name) %>
  <% end %>
</div>
