<%= render 'mobile_nav' %>
<%= render 'nav' %>
  <div class="about-container">
    <div class = 'about-content'>
      <h2>About K-Sato</h2>
      <p> People often find me to be an upbeat, selfmotivated and silly person. I grew up in a very small and peaceful town and moved to a huge city for college.
      <p> In college, I majored in political economy and mainly spent my time there studying International political economy and Public economics. I also went to a coding bootcamp when I was a senior and have been studying programming since then.</p>
      <p> Though I certainly did not hate what I learnt in my college, I didn't necessarily see myself as a good material for politician nor economist due to my lack of actual interest in those fields and my 'gullible' personality. So I ended up getting a job as a webdeveloper since I really liked coding and I was really fascinated with the idea of createing something that didn't exit before.</p>
    </div>
  </div>
<%= render 'footer' %>
