<div class ="container-fluid">
  <div class = 'row'>
    <!-- SIDE-NAV -->
    <div class="col-md-2">
      <%= render 'nav' %>
    </div>
    <!-- Main Content  -->
    <div class="col-md-10">
      <div id="posts" class="transitions-enabled">
        <!-- POST IF -->
        <% if (@posts) %><!-- IF1 -->
          <% if (@posts.empty?) %><!-- IF2 -->
              <h3>No posts found.</h3>
            <% else %>
            <!-- POST -->
             <% @posts.each do |post| %>
               <div class="box">
                   <div class= "card card-default">
                      <%= link_to (image_tag post.image,class:"image"), post_path(post.id)%>
                      <div class="card-body">
                        <%= link_to post.title, post_path(post.id)%><hr>
                        <%= post.category_name %>
                      </div>
                    </div>
                </div>
              <% end %>
              <!-- END OF POST -->
          <% end %> <!-- of IF2-->
        <% end %> <!-- of IF1-->
      </div>
    </div>
  </div>
</div>
