<div class ="container-fluid">
  <div class = 'row'>
    <!-- SIDE-NAV -->
    <div class="col-md-2">
      <%= render 'nav' %>
    </div>
    <!-- Main Content  -->
    <div class="col-md-10">
      <div id="posts" class="transitions-enabled">
        <!-- POST IF -->
        <% if (@posts) %><!-- IF1 -->
          <% if (@posts.empty?) %><!-- IF2 -->
              <h3>No posts found.</h3>
            <% else %>
              <%= render 'post' %>
          <% end %> <!-- of IF2-->
        <% end %> <!-- of IF1-->
      </div>
    </div>
  </div>
</div>

<script>
//Box FadeIn
$(".box").each(function(index) {
  $('.box').css('display', 'none');
  $(this).delay(300*index).fadeIn(200);
});
</script>
