.post-archive {
  padding: 15px 100px 0px 100px;
  margin: 0 auto;
  margin-top: 80px;
  h2 {
    margin-bottom: 20px;
    letter-spacing: 1px;
  }
  .archive-container {
    padding-left: 150px;
    width: 700px;
    margin: 0 auto;
    margin-bottom: 70px;
  .post {
    letter-spacing: 1px;
    a {
    color: #0f98f9;
   }
   a:hover {
     color: #4191C9;
   }
  }
 }
}
