#preview {
  color: #6B757D;
  height: 100%;
  min-height: 500px;
}
.form-container {
  padding: 50px;
  margin-top: 30px;
  .form-link-lists {
    position:absolute;
    top: 70px;
    left: 25px;
  }
}
