$p-color: #E0E0E0;
$p2-color: #EEEEEE;
$h-color: #444;
$a-color: #666;
$Ruby: #C12214;
$Go: #74CDDD;
$Javascript:#F5DE1A;
$React:#06D9FE;
$Life:#80F222;
$Rails:#CC0001;
$Others: #CDCDCD;
$theme-color: #00bfb6;
$border-color: #e4e4e4;

body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #FFF;
}

h1, h2, h3, h4, h5 {
  color: $h-color;
}

p {
  font-size: 18px;
}

a {
  color: $a-color;
}

a:hover {
  color: #222;
}

.container {
  margin-top: 90px;
}
