@media (max-width: 776px) {
/////////////NAV//////////////////////////
  .navbar, .nav-intro, .intro-body, .snn-links, .search-bar, .link-list, .pre-footer, .related-post-column, .related-posts {  display: none; }

  .mobile-nav {
    display: block;
    z-index: 1;
    position: fixed;
    top: 0;
    height: 70px;
    width: 100%;
    background-color: #fff;
    border-bottom: solid 1px #efefef;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.10);
  }

  .logo {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 15px;
    left: 20px;
  }

  #mobile-menu-icon {
    position: absolute;
    cursor: pointer;
    top: 26px;
    right: 20px;
    .menu-icon-bar {
      width: 25px;
      height: 3px;
      background-color: $h-color;
      margin: 3px 0;
      border-radius: 5px;
    }
  }

  .mobile-navbrand {
    color: $theme-color;
    position: absolute;
    top: 23px;
    margin-left: 20px;
  }

  .mobile-navbrand:hover {
    text-decoration: none;
  }
////////////BODY////////////////////////
  body {
    background-color: #F9F9F9;
  }
  .post-container {
    width: 100%;
    margin-top: 70px;
    padding: 0;
  }
  #posts {
    margin: 0 auto;
    width: 90%;
    .masonry-brick{
      position: relative !important;
      left: 0 !important;
      top: 0px !important;
      width: 100% !important;
      margin: 0 !important;
      margin-top: 20px !important;
      padding: 0 !important;
    }
    .box {
      max-width: 370px;
      box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
      .card {
        max-width: 370px;
        width: 100%;
        height: 100%;
      }
      img {
        min-width: 100%;
        max-width: 100%;
        height: auto;
      }
    }
  }
/////////////////////////////////SHOW
  .show-container {
    margin-top: 90px;
    margin-bottom: 100px;
    padding: 0;
    background-color: #F9F9F9;
  }

 .article-container {
   margin: 0 auto;
   margin-top: 90px;
   padding: 15px !important;
   padding-top: 30px !important;
   width: 90%;
   background-color: #fff;
   box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
 }

 .post-content {
   padding: 0;
 }

 .go-top {
   bottom: -80px;
   margin: 0 auto;
   border: solid 1px $border-color;
   border-radius: 8px;
   padding: 0px 10px 0px 10px;
   background-color: #111;
   opacity: 0.2;
   color: #FFF;
 }
/////////////////////////////////dropdown-menu
  .mobile-dropdown {
    visibility: hidden;
    position: absolute;
    padding-bottom: 25px;
    top: 70px;
    width: 100%;
    border-bottom: solid 1px $border-color;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
  }

  .mobile-dropdown-list {
    list-style: none;
    display: inline;
  }

  .mobile-dropdown-item {
    margin: 10px;
    padding: 15px;
    letter-spacing: 1.5px;
    text-align: center;
    border-bottom: solid 1px $border-color;
    cursor: pointer;
    color: #222;
    font-size: 20px;
    a {
      color: #222;
    }
  }

  .mobile-dropdown-item:hover {
    color: #757575;
    background-color: #efefef;
    a {
      color: #757575;
      text-decoration: none;
    }
  }

  .navbar-side {
    width: 50%;
  }

  .navbar-side2 {
    width: 70%;
  }
/////////////////FOOOTER
  .footer-container {
    display: none;
  }

  .com {
    display: block;
  }

  footer {
    bottom: 0;
    height: 60px;
    width: 100%;
    border-top: solid 1px #efefef;
    background-color: #fff;
    p {
      font-size: 17px;
      margin-right: 50px;
      margin-top: 25px;
      float: right;
      color: #B8BEC1;
      bottom: 0;
      letter-spacing: 1px;
    }
    a {
      color: $theme-color;
    }
  }
/////////////Archive
  .post-archive {
    padding: 10px !important;
  }

  .archive-container {
    padding: 15px !important;
    width: 100% !important;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
  }
/////////////About
  .about-container {
    padding: 10px !important;
  }

  .about-content {
    padding: 15px;
    width: 100% !important;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
  }
}
