@import "global";

.navbar {
  height: 65px;
  background-color: #fff;
  border-bottom: solid 1px $border-color;
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.10);
  z-index: 1;
  .navbrand {
    position: absolute;
    font-style: oblique;
    top: 20px;
    left: 50px;
    font-size: 22px;
    color: $theme-color;
    letter-spacing: 1px;
    text-decoration: none;
  }
  .nav-list {
    position: absolute;
    top: 22px;
    right: 100px;
    list-style: none;
    .nav-item {
      font-size: 17px;
      margin-right: 20px;
      letter-spacing: 1px;
      color: #626262;
      display: inline-block;
      cursor: pointer;
    }
    .nav-item:hover {
      color: $theme-color;
    }
  }
}

//////////////SEARCHBAR
.fa-search {
  position: absolute;
  font-size: 25px;
  top: 22px;
  right: 50px;
  color: #626262;
  cursor: pointer;
}

.fa-search:hover {
  color: $theme-color;
}

.search-box {
  float: right;
  margin-top: 5px;
  .btn {
    padding: 2px 5px 2px 5px;;
  }
}

.search-bar {
  padding: 3px;
  border: solid 1px #DEE2E6;
  border-radius: 5px;
}

.search-bar::placeholder{
  color:#B8BEC1;
}

///////////////////////////SIDE BAR

.mobile-nav { display: none; }

.navbar-side {
  height: 100%;
  width: 20%;
  position: fixed;
  top: 0;
  right: 0;
  padding: 0;
  list-style: none;
  border-left: 1px solid $border-color;
  background-color: #FFF;
  overflow-y: scroll;
  z-index: 2000;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}

.navbar-side2 {
  @extend .navbar-side;
  width: 30%;
  background-color: #FFF;
}

.navbar-side-item {
 padding: 1.5rem 0;
 font-size: 19px;
 text-align: center;
 border-bottom: 1px solid $border-color;
 height: 5rem;
}

.reveal {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}

#overlay {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0.6;
  z-index: 990;
}

.category-name {
  color: #626262;
  letter-spacing: 2px;
}

.category-name:hover {
  color: $theme-color;
  text-decoration: none;
}

.recent-post-item {
  text-decoration: none;
  color: #626262;
  letter-spacing: 2px;
}

.recent-post-item:hover {
  color: $theme-color;
  text-decoration: none;
}
