.navbar {
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  margin:0;
  list-style: none;
  border-right: 1px solid #EFEFEF;
  background-color: #fff;
  overflow-y: scroll;
}
