@import "global";

@mixin c-btn($color){
  color: $color;
  border: solid 1px $color;
  padding: 5px 15px 5px 15px;
  border-radius: 5px;
  background-color: #fff;
  letter-spacing: 1.5px;
}

.navbar {
  height: 65px;
  background-color: #fff;
  border-bottom: solid 1px #efefef;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
  .header-category-list{
    list-style: none;
    li{
      display: inline-block;
    }
  }
  .navbrand {
    color: $theme-color;
    text-decoration: none;
  }
}

.header-c-Ruby {
  @include c-btn($Ruby);
}

.header-c-Ruby:hover {
  color: #fff;
  background-color: $Ruby;
}

.header-c-Go {
  @include c-btn($Go);
}
.header-c-Go:hover  {
  color: #fff;
  background-color: $Go;
}

.header-c-Javascript {
  @include c-btn($Javascript);
}
.header-c-Javascript:hover  {
  color: #fff;
  background-color: $Javascript;
}

.header-c-React {
  @include c-btn($React);
}
.header-c-React:hover  {
  color: #fff;
  background-color: $React;
}

.header-c-Life {
  @include c-btn($Life)
}
.header-c-Life:hover  {
  color: #fff;
  background-color: $Life;
}

.header-c-Rails {
  @include c-btn($Rails)
}
.header-c-Rails:hover {
  color: #fff;
  background-color: $Rails;
}

//////////////SEARCHBARR
.search-box {
  float: right;
  margin-top: 5px;
  .btn {
    padding: 2px 5px 2px 5px;;
  }
}

.search-bar {
  padding: 3px;
  border: solid 1px #DEE2E6;
  border-radius: 5px;
}

.search-bar::placeholder{
  color:#B8BEC1;
}

.link-list {
  position: absolute;
  top: 180px;
  left: -10px;
  ul {
    list-style: none;
     li {
       margin: 0;
       cursor: pointer;
       margin-bottom: 30px;
       color: #fff;
     }
  }
}

///////////////////////////FOR MOBILE

.mobile-nav, .navbar-side, .navbar-side2 { display: none; }

.navbar-side {
  height: 100%;
  width: 20%;
  position: fixed;
  top: 0;
  right: 0;
  padding: 0;
  list-style: none;
  border-left: 1px solid grey;
  background: rgba(0, 0, 0, 0.8);
  overflow-y: scroll;
  z-index: 2000;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}

.navbar-side2 {
  @extend .navbar-side;
  width: 30%;
  background: rgba(0, 0, 0, 0.8);
}

.navbar-side-item {
 padding: 1.5rem 0;
 font-size: 19px;
 text-align: center;
 border-bottom: 1px solid grey;
 height: 5rem;
}

.reveal {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}

#overlay {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  background-color: #ccc;
  opacity: 0.6;
  z-index: 990;
}

/////////////CATEGORY COLORS///////////////
.category-link {
  text-decoration: none;
}

.recent-post-item {
  color: $theme-color;
}

.user-image {
  top: 65%;
  left: 30%;
  height: 180px;
  width: 180px;
  border: solid 1px #efefef;
  border-radius: 100px;
}

.recent-post-item {
  letter-spacing: 2px;
}

.recent-post-item:hover {
  color: #B8BEC1;
  text-decoration: none;
}

.category-name {
  letter-spacing: 2px;
}

.category-name:hover {
  color: #fff;
  text-decoration: none;
}

.Ruby {
  color: $Ruby;
}

.Go {
  color: $Go;
}

.Javascript {
  color: $Javascript;
}

.React {
  color: $React;
}

.Life {
  color: $Life;
}

.Rails {
  color: $Rails;
}
/////////////
