@import "global";

.post-container {
  margin-top: 25px;
}
#posts {
  margin: 0 auto;
  width: 100%;
  .box {
	  margin: 10px;
	  width: 350px;
	  border-radius: 7px;
	  text-align: center;
    .card {
      #c-btn {
        position: absolute;
        padding: 2px 15px 2px 15px;
        top: 10px;
        right: 10px;
      }
      .btn-Ruby {
        color: #fff;
        border: solid 1px $Ruby;
        background-color: $Ruby;
      }
      .btn-Go {
        color: #fff;
        border: solid 1px $Go;
        background-color: $Go;
      }
      .btn-Javascript {
        color: #fff;
        border: solid 1px $Javascript;
        background-color: $Javascript;
      }
      .btn-React {
        color: #fff;
        border: solid 1px $React;
        background-color: $React;
      }
      .btn-Life {
        color: #fff;
        border: solid 1px $Life;
        background-color: $Life;
      }
    }
    .Ruby {
      border-bottom: solid 3px $Ruby;
    }
    .Go {
      border-bottom: solid 3px $Go;
    }
    .Javascript {
      border-bottom: solid 3px $Javascript;
    }
    .React {
      border-bottom: solid 3px $React;
    }
    .Life {
      border-bottom: solid 3px $Life;
    }
    .post-title {
      color: #21252A;
      font-size: 20px;
      margin: 0;
      padding: 0;
      text-decoration: none;
    }
    .post-title:hover {
      color: $p-color;
    }
    .btn-outline-info {
      color: $theme-color;
      border-color: $theme-color;
    }
    .btn-outline-info:hover {
      color: #fff;
      background-color: $theme-color;
    }
	  img {
	  	max-width: 100%;
	  	height: auto;
	  }
    img:hover {
      opacity: 0.6;
      transition: 0.5s;
    }
	}
}

.pagination {
  position: absolute;
  margin: 0 auto;
  bottom: -90px;
  left: 45%;
  padding: 20px;
  .page-link {
    color: $theme-color;
    border-radius: 5px;
    padding: 10px;
  }
}


/////////////SHOW PAGE///////////////
.show-container {
  padding: 15px 100px 15px 150px;
  .post-created-on {
    color: #A9A9A9;
    font-weight: lighter;
    letter-spacing: 1px;
  }
}
