@import "global";

#posts {
  margin: 0 auto;
  width: 100%;
  .box {
	  margin: 10px;
	  width: 350px;
	  border-radius: 7px;
	  text-align: center;
	  img {
	  	max-width: 100%;
	  	height: auto;
	  }
	}
}

.pagination {
  position: absolute;
  margin: 0 auto;
  bottom: -90px;
  left: 45%;
  padding: 20px;
  .page-link {
    color: $theme-color;
    border-radius: 5px;
    padding: 10px;
  }
}
