@import "global";

@mixin category_btn($color){
  color: #fff;
  border: solid 1px $color;
  background-color: $color;
}

@mixin category_name($color){
  color: $color;
  border: solid 1px $color;
  padding: 5px 15px 5px 15px;
  border-radius: 5px;
  background-color: #fff;
}

@mixin category_name_hover($color){
  background-color: $color;
  color: #fff;
  text-decoration: none;
}

.post-container {
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 100px;
}

#posts {
  margin: 0 auto;
  .box {
	  margin: 20px;
	  width: 370px;
    height: 450px;
	  text-align: center;
    border-radius: 5px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.10);
    .card {
      width: 370px;
      height: 450px;
      text-align: left;
    .card-head{
      height: 200px;
      width: 100%;
      .image{
        border-bottom: solid 1px $border-color;
         max-width: 370px;
         width: 100%;
         height: 200px;
       }
       .card-body {
         height: 200px;
       }
    }
    .post-intro {
      color: #757575;
      text-align: left;
      font-size: 17px;
    }
    .post-title {
      color: #21252A;
      font-size: 20px;
      margin: 0;
      padding: 0;
      text-decoration: none;
      letter-spacing: 1px;
    }
    .post-title:hover {
      color: $p-color;
    }
    .btn-outline-info {
      color: $theme-color;
      border-color: $theme-color;
    }
    .btn-outline-info:hover {
      color: #fff;
      background-color: $theme-color;
    }
    .post-created-on {
      margin-top: 10px;
      color: #757575;
      font-size: 14px;
      float: right;
    }
    #c-btn {
      padding: 2px 15px 2px 15px;
    }
    #c-btn:hover {
      opacity: 0.9;
      background-color: #fff;
    }
    .btn-Ruby {
      @include category-btn($Ruby);
    }
    .btn-Ruby:hover {
      color: $Ruby;
    }

    .btn-Go {
      @include category-btn($Go);
    }
    .btn-Go:hover  {
      color: $Go;
    }

    .btn-Javascript {
      @include category-btn($Javascript);
    }
    .btn-Javascript:hover  {
      color: $Javascript;
    }

    .btn-React {
      @include category-btn($React);
    }
    .btn-React:hover  {
      color: $React;
    }

    .btn-Life {
      @include category-btn($Life)
    }
    .btn-Life:hover  {
      color: $Life;
    }

    .btn-Rails {
      @include category-btn($Rails)
    }

    .btn-Rails:hover {
      color: $Rails;
    }

    .btn-Others {
      @include category-btn($Others)
    }

    .btn-Others:hover {
      color: $Others;
    }
  }
 }
}

/////////////////HOVER///////////////////////
.card:hover {
  box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11);
  img {
    opacity: 0.6;
    transition: 0.5s;
  }
}

//////////////////////////Pagination////////////////////////////////////
.pagination {
  position: absolute;
  bottom: -70px;
  left: 20px;
  .page-link {
    color: $theme-color;
  }
  .page-item.active .page-link {
    background-color: $theme-color !important;
    border-color: $theme-color !important;
  }
}

.category-Ruby {
  @include category_name($Ruby)
}

.category-Ruby:hover {
  @include category_name_hover($Ruby)
}

.category-Go {
  @include category_name($Go)
}

.category-Go:hover {
  @include category_name_hover($Go)
}

.category-Javascript {
  @include category_name($Javascript)
}

.category-Javascript:hover {
  @include category_name_hover($Javascript)
}

.category-React {
  @include category_name($React)
}

.category-React:hover {
  @include category_name_hover($React)
}

.category-Life {
  @include category_name($Life)
}

.category-Life:hover {
  @include category_name_hover($Life)
}

.category-Rails {
  @include category_name($Rails)
}

.category-Rails:hover {
  @include category_name_hover($Rails)
}

.category-Others {
  @include category_name($Others)
}

.category-Others:hover {
  @include category_name_hover($Others)
}

//No Posts
.no-posts {
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
}

.penguin {
  margin-top: 20px;
  margin-bottom: -50px;
}
