.badge{
  margin-left: 20px;
  padding: 3px 20px 3px 20px;
}
.tag{
  margin-left: 20px;
}

.s-container {
  background-color: #f2f2f2;
}

// .c-container {
//   background-color: #394548;
//   color: #E2E2E2;
// }
// .comment-section {
//   margin-top: 30px;
// }
// #comment {
//   margin: 30px;
// }
