.show-container {
  padding: 15px 100px 15px 100px;
  margin: 0 auto;
  margin-top: 80px;
  .show-image {
    max-height: 500px;
    width: 100%;
  }
  .show-post-title {
    margin: 0;
    font-weight: bold;
    letter-spacing: 1px;
  }
  .post-created-on {
    color: #A9A9A9;
    font-weight: lighter;
    margin-left: 15px;
    letter-spacing: 1px;
  }
  .article-container {
    margin: 0 auto;
    background-color: #fff;
    border-radius: 5px;
  }
  .post-context {
    padding-bottom: 20px;
  }
}

.go-top {
  position: absolute;
  right: 120px;
  border: solid 1px $border-color;
  background-color: #E9EEF3;
  padding: 0px 15px 0px 15px;
  color: #fff;
}


/////////////////////////Related Posts//////////////////////////////
.related-post-column{
  margin-top: 60px;
  border-bottom: solid 3px $theme-color;
  letter-spacing: 1px;
}
.related-posts {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 50px;
  padding-bottom: 50px;
  border-bottom: solid 1px #E8E8E8;
  .related-posts-box {
    margin: 10px;
    margin-top: 25px;
    margin-left: 25px;
    width: 350px;
    display: inline-block;
    .related-post-card{
      min-width: 350px;
    }
    .related-post-title {
        color: #21252A;
        margin: 0;
        padding: 0;
        text-decoration: none;
    }
    .related-post-title:hover {
      color: $p-color;
    }
    .related-post-intro {
      color: #757575;
      text-align: left;
      font-size: 17px;
    }
    .related-post-image{
      height: 180px;
      width: 100%;
    }
  }
}

.related-posts-box:hover {
  .related-post-image {
    opacity: 0.6;
    transition: 0.5s;
  }
}
