.side {
  height: 500px;
  width: 100%;
  margin-top: -23px;
}
//SEARCH_BOX
#search-box {
  #search-header {
    background-color: #fff;
  }
}
///AUTHORE
.user-top {
  width: 100%;
  height: 200px;
  background-position: center;
  background-size: cover;
}

.bio {
  margin-top: -70px;
}

.user-intro {
  padding: 10px;
}

.user-img {
  margin-top: 10px;
  margin-left: 5px;
  height: 110px;
  width: 110px;
  border: solid 2px #fff;
  border-radius: 100px;
}
////Category
#category-header {
  background-color: #fff;
}
///Recent Posts
.recent-posts {
  #posts-header {
    background-color: #fff;
  }
  li {
    list-style: none;
  }
}
