.side {
  height: 500px;
  width: 100%;
  margin-top: -23px;
}
//SEARCH_BOX
#search-box {
  #search-header {
    background-color: #fff;
  }
}
////Category
#category-header {
  background-color: #fff;
}
///Recent Posts
.recent-posts {
  #posts-header {
    background-color: #fff;
  }
  li {
    list-style: none;
  }
}
