.about-container {
  padding: 15px 100px 0px 100px;
  margin: 0 auto;
  margin-top: 80px;
  .about-content {
    padding-left: 50px;
    width: 600px;
    margin: 0 auto;
    letter-spacing: 1px;
    color: #676262;
    h2 {
      margin-bottom: 20px;
    }
  }
}
